.header-container {
  border: 0.2em solid orange;
  display: flex;
  justify-content: flex-end;
}

.header-container > span {
  margin: 0.5em;
}

.form-container {
  border: 0.2em solid blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.form-container > label > * {
  margin: 0.2em;
}
