.wallet-main {
  background-color: var(--light-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
  margin: 15px;
}

.header {
  background-color: var(--shadow);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  align-items: center;
  display: flex;
  flex: 2 1 auto;
}

.header-logo img {
  width: 60px;
}

.header-title {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px rgba(30, 30, 30, 0.5);
}

.header-email {
  flex: 1 1;
  margin: 5px;
  text-align: right;
}

.header-expenses {
  flex: 1 1;
  margin: 5px;
  text-align: right;
}
