.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  margin-left: 40%;
  border: solid 2px black;
  max-width: 20%;
  padding: 3%;
}

.login button {
  margin-top: 15px;
}
