* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.login-card {
  align-items: center;
  border: 1px solid grey;
  display: flex;
  flex-flow: column wrap;
  height: 20rem;
  justify-content: center;
  padding: 3rem;
  width: 20rem;
}

.login-card * {
  width: 100%;
}

.login-card input {
  padding: 0.5rem;
}

.login-card label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.login-card button {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem;
}
