* {
  margin: 0%;
  padding: 0%;
}

.header {
  background-color: red;
}

.formAdd {
  align-content: center;
  align-items: center;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
