@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

:root {

  --asparagus: rgba(138, 170, 121, 1);

  --bgdark: rgb(30, 30, 30, 1);

  --bgdarksoft: rgb(40, 40, 40, 1);

  --dark-olive-green: rgba(101, 113, 83, 1);

  --lavender-gray: rgba(183, 182, 194, 1);

  --light-gray: rgba(209, 213, 222, 1);

  --shadow: rgba(131, 117, 105, 1);
}

body {
  background-color: var(--bgdark);
  box-sizing: border-box;
  font-family: 'Baumans', cursive;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
